
/* Popup */

.poptrox-popup {
    background: #1a1f2c;
    background: rgba(18, 21, 29, 0.9);
    box-shadow: 0px 0px 0px 10px #fff, 0px 10px 60px 10px rgba(8, 11, 19, 0.55);
    cursor: default;
}

    .poptrox-popup .loader {
        display: block;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -24px 0 0 -24px;
        background: url("images/loader.gif");
        opacity: 0.25;
    }

    .poptrox-popup .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #1a1f2c;
        background: rgba(18, 21, 29, 0.85);
        display: block;
        width: 100%;
        line-height: 75px;
        text-align: center;
        font-size: 1.25em;
        color: #fff;
    }

    .poptrox-popup .nav-next, .poptrox-popup .nav-previous {
        text-decoration: none;
        font-weight: normal;
        font-style: normal;
        -moz-transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;
        -ms-transition: opacity 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out;
        opacity: 0.35;
    }

        .poptrox-popup .nav-next:hover, .poptrox-popup .nav-previous:hover {
            opacity: 1.0;
        }

    .poptrox-popup .nav-next, .poptrox-popup .nav-previous {
        text-decoration: none;
        text-transform: none !important;
        width: 150px;
        height: 75px;
        position: absolute;
        bottom: 0;
        cursor: pointer;
        font-size: 3em;
        line-height: 75px;
    }

        .poptrox-popup .nav-next:before, .poptrox-popup .nav-previous:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            text-transform: none !important;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }

    .poptrox-popup .nav-next {
        right: 0;
        text-align: right;
        padding-right: 30px;
    }

        .poptrox-popup .nav-next:before {
            content: '\f105';
        }

    .poptrox-popup .nav-previous {
        left: 0;
        text-align: left;
        padding-left: 30px;
    }

        .poptrox-popup .nav-previous:before {
            content: '\f104';
        }

    @media screen and (max-width: 736px) {

        .poptrox-popup {
            background: #0a0f1c;
            box-shadow: 0px 0px 30px 10px rgba(8, 11, 19, 0.85);
            border: solid 2.5px #fff;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -ms-box-sizing: content-box;
            box-sizing: content-box;
        }

            .poptrox-popup .caption {
                display: none !important;
            }

            .poptrox-popup .nav-next {
                display: none !important;
            }

            .poptrox-popup .nav-previous {
                display: none !important;
            }

    }